body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f9f9f9;
  background: url('https://th.bing.com/th/id/R.c9704768a7f5a1db1d789fc72c101b02?rik=Mt7UX%2b0pyKVHNg&riu=http%3a%2f%2fclipart-library.com%2fimage_gallery%2f172972.png&ehk=FXf855da7wGAgBv5e5UHDfNGRYIpbiVvB85hTJdlE%2fA%3d&risl=1&pid=ImgRaw&r=0') center center ; /* Ruta a la imagen de fondo */
  background-size: cover;
  min-height: 100vh; /* Establece una altura mínima del 100% del viewport height */
  margin: 0;
  
}

.carta {
  max-width: 700px;
  margin: 0 auto;
  background-color: #fffafa; /* Tono crema festivo */
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  opacity: 85%;
}


/* Agregamos un borde festivo con motivos navideños */
.carta::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 10px solid #ff6347; /* Rojo anaranjado */
  border-radius: 15px;
  z-index: -1;
}

.encabezado {
  text-align: center;
  color: #ff6347; /* Rojo anaranjado */
  z-index: 1; /* Asegura que el texto esté por encima del fondo */
}

.contenido {
  margin-top: 20px;
  z-index: 1; /* Asegura que el texto esté por encima del fondo */
}

h1 {
  font-size: 36px;
  color: #228b22; /* Verde bosque */
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.slick-slider img {
  object-fit: contain;
  object-position: center center;
  width: 100%;
  height: 400px;
}

.final {
  direction: rtl;
  z-index: 2; /* Asegura que el texto esté por encima del fondo */
}
